[Desktop Entry]
Name=Space Deck (Input & Peripheral Manager)
Comment=Universal Human Interface & Input Controller
Exec=space-deck
Icon=input-gaming
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;Utility;
Keywords=mouse;keyboard;touchpad;joystick;gamepad;input;hyprland;
